

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    {% include head.html %}
    <body>
        <div id="home">
            <img id="logo" src="/assets/img/logo.png"/>
            <div id="infos">
                <i class="icon far fa-clock"></i>
                <span class="text">
                    March 6th, 2020
                </span>
                <i class="icon fas fa-map-marker-alt"></i>
                <span class="text">
                    Old Prison, Campus UHasselt
                </span>
            </div>
            <a href="https://www.eventbrite.co.uk/e/open-belgium-conference-2020-tickets-76868500755?aff=ebdssbeac" target="_blank" class="button">
                Get your tickets!
            </a>
            <p>More info coming soon!</p>
        </div>
    </body>
    
    <!-- <script type="text/javascript" src="/assets/js/menu.js"></script>
    <script type="text/javascript" src="/assets/js/particles.js"></script>
    <script type="text/javascript" src="/assets/js/particlesRun.js"></script> -->
</html>